.white-outline {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 6px 3px rgba(68,102,242,.1);
    cursor: pointer;
    display: flex;
    font-size: 17px;
    height: 35px;
    justify-content: center;
   
    overflow: hidden;
   margin: auto;
    width: 35px;
}

.cursor-pointer {
    cursor: pointer;
}

.card-hover:hover {
    box-shadow: 0 0 6px 3px rgba(68,102,242,.1);
}

.edit-photo .img-wrraper {
    margin: auto;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.edit-photo .icon-wrapper {
    lign-items: center;
    background-color: #fff;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 6px 3px rgba(68,102,242,.1);
    cursor: pointer;
    display: flex;
    font-size: 17px;
    height: 35px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 35px;    align-items: center;
}

.edit-photo .avatar {
    border: 7px solid rgba(36,105,92,.08);
    border-radius: 50%;
    height: 100px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-height: 155px;
    max-width: 155px;
    overflow: hidden;
    width: 100px;
}

.edit-photo .avatar img {
    height: 100%;
    width: 100%;
}


/* offcanvas */

.offcanvas{
    position:fixed;
    bottom:0;
    z-index:1050;
    display:flex;
    flex-direction:column;
    max-width:100%;
    visibility:hidden;
    background-color:#fff;
    background-clip:padding-box;
    outline:0;
    transition:transform .3s ease-in-out
}
@media (prefers-reduced-motion:reduce){
    .offcanvas{
        transition:none
    }
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.offcanvas-backdrop.fade {
    opacity: 0
}

.offcanvas-backdrop.show {
    opacity: .5
}
.offcanvas-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1rem 1rem
}
.offcanvas-header .btn-close{
    padding:.5rem .5rem;
    margin-top:-.5rem;
    margin-right:-.5rem;
    margin-bottom:-.5rem
}
.offcanvas-title{
    margin-bottom:0;
    line-height:1.5
}
.offcanvas-body{
    flex-grow:1;
    padding:1rem 1rem;
    overflow-y:auto
}
.offcanvas-start{
    top:0;
    left:0;
    width:400px;
    border-right:1px solid rgba(0,0,0,.2);
    transform:translateX(-100%)
}
.offcanvas-end{
    top:0;
    right:0;
    width:280px;
    border-left:1px solid rgba(0,0,0,.2);
    transform:translateX(100%)
}
.offcanvas-top{
    top:0;
    right:0;
    left:0;
    height:30vh;
    max-height:100%;
    border-bottom:1px solid rgba(0,0,0,.2);
    transform:translateY(-100%)
}
.offcanvas-bottom{
    right:0;
    left:0;
    height:30vh;
    max-height:100%;
    border-top:1px solid rgba(0,0,0,.2);
    transform:translateY(100%)
}
.offcanvas.show{
    transform:none
}

.hospital-action .post-about ul li h5 {
    overflow-wrap: anywhere;
    font-size: 14px;
}

.detailed-text-wrapper p{
font-size: 14px !important;
}