.loader-38 {
  margin-left: 7px;
  display: inline-flex;
  height: 5px;
  width: 5px;
  -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
    -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
    -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  -webkit-animation: loader-38 6s infinite;
  animation: loader-38 6s infinite;
}

@-webkit-keyframes loader-38 {
  0% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  }
  8.33% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
  }
  16.66% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
  }
  24.99% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  33.32% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  }
  41.65% {
    -webkit-box-shadow: 0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
    box-shadow: 0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
  }
  49.98% {
    -webkit-box-shadow: 0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
    box-shadow: 0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
  }
  58.31% {
    -webkit-box-shadow: -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  66.64% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  74.97% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  83.3% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  91.63% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  100% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  }
}

@keyframes loader-38 {
  0% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  }
  8.33% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
  }
  16.66% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
  }
  24.99% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  33.32% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  }
  41.65% {
    -webkit-box-shadow: 0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
    box-shadow: 0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red;
  }
  49.98% {
    -webkit-box-shadow: 0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
    box-shadow: 0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red;
  }
  58.31% {
    -webkit-box-shadow: -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  66.64% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  74.97% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em -0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  83.3% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, 0.2em 0.2em 0 0.1em red,
      0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  91.63% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red,
      -0.2em 0.2em 0 0.1em red, -0.2em 0.2em 0 0.1em red;
  }
  100% {
    -webkit-box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
    box-shadow: -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red,
      -0.2em -0.2em 0 0.1em red, -0.2em -0.2em 0 0.1em red;
  }
}
